/* Estilos para la sección "Sobre mi" */

.sobre-mi-contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 20px;
  }
  
  .foto-perfil {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    object-fit: cover;
    margin-bottom: 30px;
  }
  
  .texto {
    text-align: center;
  }
  
  .texto h2 {
    color: #333;
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 1.2;
  }
  
  .texto p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 30px;
  }
  
  .redes-sociales {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .redes-sociales li {
    margin: 0 10px;
    font-size: 1.5rem;
    line-height: 1;

  }
  
  .redes-sociales li a {
    color: #444444;
    transition: color 0.3s ease-in-out;
  }
  
  .redes-sociales li a:hover {
    color: #b76e79;
  }

  .curriculo-btn {
    background-color: #b76e79;
    color: #FFFFFF;
    border-radius: 50px;
    padding: 8px 15px;
    font-size: 1.2rem;
    text-transform: uppercase;
    transition: background-color 0.3s ease-in-out;
  }

@media (max-width: 768px) {
  .sobre-mi-contenedor {
    margin: 60px auto; /* Ajuste del margen vertical */
  }
  
  .foto-perfil {
    height: 120px; /* Reducción del tamaño */
    width: 120px; /* Reducción del tamaño */
    margin-bottom: 20px; /* Ajuste del margen inferior */
  }
  
  .texto h2 {
    font-size: 2rem; /* Reducción del tamaño de fuente */
    margin-bottom: 15px; /* Ajuste del margen inferior */
  }
  
  .texto p {
    font-size: 1rem; /* Reducción del tamaño de fuente */
    margin-bottom: 20px; /* Ajuste del margen inferior */
  }
  
  .redes-sociales li {
    margin: 0 8px; /* Reducción del margen horizontal */
    font-size: 1.2rem; /* Reducción del tamaño de fuente */
  }

  .curriculo-btn {
    padding: 6px 12px; /* Reducción del padding */
    font-size: 1rem; /* Reducción del tamaño de fuente */
  }
}

@media (max-width: 680px) {
  .foto-perfil {
    height: 100px; /* Reducción adicional del tamaño */
    width: 100px; /* Reducción adicional del tamaño */
  }
  
  .texto h2 {
    font-size: 1.8rem; /* Reducción adicional del tamaño de fuente */
    margin-bottom: 10px; /* Ajuste adicional del margen inferior */
  }
  
  .texto p {
    font-size: 0.9rem; /* Reducción adicional del tamaño de fuente */
    margin-bottom: 15px; /* Ajuste adicional del margen inferior */
  }
  
  .redes-sociales li {
    font-size: 1rem; /* Reducción adicional del tamaño de fuente */
  }

  .curriculo-btn {
    font-size: 0.9rem; /* Reducción adicional del tamaño de fuente */
  }
}
