.sobre-mi-2 {
    padding: 80px 0;
    background-color: #f6f6f6;
    margin: 2rem 0;
  }
  
  .sobre-mi-content {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 960px;
    margin: 20px auto;
  }

  .sobre-mi-2 h2 {
    color: #333;
    padding-left: 14%;
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 50px;
     margin: 20px;
  }
  
  .sobre-mi-text {
    flex-basis: 45%;
  }
  
  .sobre-mi-text p {
    font-size: 1.0rem;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .sobre-mi-image {
    flex-basis: 20%;
    text-align: left;
  }
  
  .sobre-mi-image img {
    max-width: 15%;

  }

@media (min-width: 680px) {
  .sobre-mi-2 {
    padding: 40px 0; /* Reducir el padding vertical */
    margin: 1rem 0; /* Reducir el margen vertical */
  }
  
  .sobre-mi-content {
    max-width: 640px; /* Reducir el ancho máximo */
    margin: 10px auto; /* Reducir el margen vertical */
  }

  .sobre-mi-2 h2 {
    padding-left: 10%; /* Reducir el padding izquierdo */
    font-size: 32px; /* Reducir el tamaño de fuente */
    margin: 10px; /* Agregar margen */
  }
  
  .sobre-mi-text {
    flex-basis: 100%; /* Ocupar todo el ancho disponible */
  }
  
  .sobre-mi-text p {
    font-size: 0.9rem; /* Reducir el tamaño de fuente */
    margin-bottom: 10px; /* Reducir el margen inferior */
  }
}
  

  
