.sobre-mi-2 {
    padding: 80px 0;
    background-color: #f6f6f6;
    margin: 2rem 0;
  }
  
  .sobre-mi-content {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 960px;
    margin: 20px auto;
  }

  .sobre-mi-2 h2 {
    color: #333;
    padding-left: 24%;
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 50px;
     margin: 20px;
  }
  
  .sobre-mi-text {
    flex-basis: 45%;
  }
  
  .sobre-mi-text p {
    font-size: 1.0rem;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .sobre-mi-image {
    flex-basis: 20%;
    text-align: left;
  }
  
  .sobre-mi-image img {
    max-width: 15%;

  }

@media (max-width: 768px) {
  .sobre-mi-2 {
    padding: 40px 0; /* Ajuste del padding vertical */
    margin: 1rem 0; /* Ajuste del margen vertical */
  }
  
  .sobre-mi-content {
    max-width: 80%; /* Reducción del ancho máximo */
    margin: 10px auto; /* Ajuste del margen vertical */
  }

  .sobre-mi-2 h2 {
    padding-left: 10%; /* Ajuste del padding izquierdo */
    font-size: 32px; /* Reducción del tamaño de fuente */
    margin: 10px; /* Ajuste del margen */
  }
  
  .sobre-mi-text {
    flex-basis: 100%; /* Ocupar todo el ancho disponible */
  }
  
  .sobre-mi-text p {
    font-size: 0.9rem; /* Reducción del tamaño de fuente */
    margin-bottom: 10px; /* Ajuste del margen inferior */
  }
  
  .sobre-mi-image {
    display: none; /* Ocultar la imagen en pantallas pequeñas */
  }
}


@media (max-width: 680px) {
  .sobre-mi-2 {
    padding: 40px 0; /* Ajuste del padding vertical */
    margin: 1rem 0; /* Ajuste del margen vertical */
  }
  
  .sobre-mi-content {
    max-width: 80%; /* Reducción del ancho máximo */
    margin: 10px auto; /* Ajuste del margen vertical */
  }

  .sobre-mi-2 h2 {
    padding-left: 10%; /* Ajuste del padding izquierdo */
    font-size: 32px; /* Reducción del tamaño de fuente */
    margin: 10px; /* Ajuste del margen */
  }
  
  .sobre-mi-text {
    flex-basis: 100%; /* Ocupar todo el ancho disponible */
  }
  
  .sobre-mi-text p {
    font-size: 0.9rem; /* Reducción del tamaño de fuente */
    margin-bottom: 10px; /* Ajuste del margen inferior */
  }
  
  .sobre-mi-image {
    display: none; /* Ocultar la imagen en pantallas pequeñas */
  }
}

  
