#contacto {
    background-color: #f8f8f8;
    padding: 50px;
    text-align: center;
  }
  
  #contacto h2 {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  
  #contacto form {
    display: inline-block;
    text-align: left;
  }
  
  #contacto label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  #contacto input,
  #contacto textarea {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    width: 100%;
  }
  
  #contacto button[type="submit"] {
    background-color: #6C63FF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  #contacto button[type="submit"]:hover {
    background-color: #6C63FF;
  }
  

  /* Estilo para el footer */
footer {
    color:#333;
    background-color: #f8f8f8;
    border-top: 1px solid #ddd;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    font-family: Arial, sans-serif;
    font-size: 14px;
  }
  
