/* Estilos rediseñados con cajitas pequeñas utilizando Flexbox */

.formaciones {
    background-color: #f7f7f7;
    padding: 80px 0;
}
.formacion:hover{
    box-shadow: 0px 8px 16px rgba(255, 192, 192, 0.2);
    }
.formaciones h2 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 42px;
    color: #333;
}

.formaciones-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.formacion {
    width: 240px;
    height: 300px;
    margin: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-bottom: 40px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.formacion img {
    width: 200px;
    height: 170px;
    border-radius: 1%;
    margin: 0 auto;
}

.formacion h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

.formacion p {
    font-size: 14px;
    margin-bottom: 10px;
    color: #b6b6b6;
}



/* Estilos para pantallas de 768px utilizando Media Queries */

@media screen and (max-width: 768px) {
    .formaciones-container {
        justify-content: center;
    }
    
    .formacion {
        width: 45%;
    }
    
    .formacion img {
        width: 200px;
        height: 180px;
    }
    
    .formacion h3 {
    font-size: 18px;
    }
    
    .formacion p {
    font-size: 16px;
    }
}

  /* Estilos para pantallas de 680px utilizando Media Queries */

@media screen and (max-width: 680px) {
    .formaciones-container {
        flex-direction: column;
        align-items: center;
    }
    
    .formacion {
        width: 80%;
        margin: 15px 0;
    }


    .formacion img {
        width: 160px;
        height: 140px;
        margin: 20px auto;
    }
    
    .formacion h3 {
        font-size: 19px;
    }
    
    .formacion p {
        font-size: 16px;
    }
}