/* Estilos para la sección "Skills" */

.skills {
    margin: 2rem 0;

    padding: 60px 0;
    text-align: center;

  }
  
  .skills h2 {
    color: #333;
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 50px;
  }
  
  .skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 30px;
  }
  .skill {
    width: 150px;
    height: 150px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: all 0.3s ease;
  }
  .skill:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);


  }

  .skill-icon {
    width: 50px;
    height: 50px;
    margin: 20px auto 10px auto;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .skill-icon{
    font-size: 2.5em;
    color: #333F;
}
  

  .skill p {
    margin-top: 10px;
    font-weight: 600;
    font-size: 14px;
    color: #333;
  }
  
  /* Estilos para la sección "Skills" en pantallas más pequeñas */
  
  @media screen and (max-width: 768px) {
    .skill {
      width: 80%;
    }
  }
@media (max-width: 680px) {
  .skills {
    padding: 40px 0; /* Ajuste del padding vertical */
    text-align: center;
  }
  
  .skills h2 {
    font-size: 32px; /* Reducción del tamaño de fuente */
    margin-bottom: 30px; /* Ajuste del margen inferior */
  }
  
  .skills-container {
    gap: 30px; /* Reducción del espacio entre elementos */
    margin-top: 20px; /* Ajuste del margen superior */
  }
  
  .skill {
    width: 120px; /* Reducción del ancho */
    height: 120px; /* Reducción de la altura */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .skill:hover {
    transform: none;
    box-shadow: 0px 6px 12px rgba(255, 186, 186, 0.15);
  }
  
  .skill-icon {
    width: 40px; /* Reducción del tamaño */
    height: 40px; /* Reducción del tamaño */
    margin: 15px auto 8px auto; /* Ajuste del margen */
  }
  
  .skill-icon {
    font-size: 2em; /* Reducción del tamaño de fuente */
  }
  
  .skill p {
    margin-top: 8px; /* Ajuste del margen superior */
    font-size: 12px; /* Reducción del tamaño de fuente */
  }
}

  
