/* Estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #2D2727;
    color: #eeeeee;
  }
  
  /* Estilos del header */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8F43EE;
    color: #d6d6d6;
    padding: 1rem;
  }
  header h1 {
    font-size: 2rem;
  }
  header nav ul {
    display: flex;
    list-style: none;
  }
  header nav ul li {
    margin-right: 1rem;
  }
  header nav ul li:last-child {
    margin-right: 0;
  }
  header nav ul li a {
    color: #dfdfdf;
    text-decoration: none;
  }
  
  /* Estilos de las secciones */
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
  section {
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #413543;
    border: 1px solid #3a3a3a;
    border-radius: 5px;
  }
  section h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  section ul {
    list-style: none;
    margin-bottom: 1rem;
  }
  section ul li {
    margin-bottom: 0.5rem;
  }

  
  .sobre-mi-contenedor {
    display: flex;
    flex-direction: space-between;
    align-items: center;
    }
    
    .foto-perfil {
    width: 18%;
    border-radius: 5%;
    }
    
    .texto {
    margin-left: 20px;
    max-width: 600px;
    }
  
  .redes-sociales {
    display: flex;
    list-style: none;
    margin-bottom: 20px;
  }
  
  .redes-sociales li {
    margin: 0 10px;
  }
  
  .redes-sociales a {
    display: block;
    font-size: 30px;
    color: #8F43EE;
    transition: color 0.3s ease-in-out;
  }
  
  .redes-sociales a:hover {
    color: #ffffff;
  }
  
  .datos-personales {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
  }
  
  .datos-personales p {
    margin-bottom: 10px;
  }
  
  
  .hobbies, .skills {
    padding: 50px 0;
  }
  
  .hobbies h2, .skills h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 50px;
  }
  
  .hobbies-container, .skills-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .hobby, .skill {
    background-color: #00000027;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(163, 71, 238, 0.185);
    width: 30%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .hobby-icon, .hobby-icon i, .skill-icon, .skill-icon i {
    font-size: 50px;
    color: #8F43EE;
    transition: color 0.3s ease-in-out;
    border-radius: 5%;
    margin-bottom: 5px;
  }
  
  
  .hobby p, .skill p {
    font-size: 0.9rem;
    font-weight: lighter;
    text-align: center;
  }
  /*Estilos de formación */

  .formaciones-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px auto;
    max-width: 1200px;
    }
    
    .formacion {
    background-color: #00000027;
    border: 1px solid #353535;
    border-radius: 10px;
    box-shadow: 0px 3px 6px #9043ee2d;
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 30px;
    overflow: hidden;
    padding: 20px;
    text-align: center;
    transition: box-shadow 0.3s ease;
    }
    
    .formacion:hover {
    box-shadow: 0px 5px 10px rgba(141, 141, 141, 0.2);
    }
    
    .formacion img {
    border-radius: 3%;
    display: block;
    width: 150px;
    height: 100px;
    margin: 0 auto 20px;
    max-width: 150px;
    }

  /* Estilos de los proyectos */


  .experiencia-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }
  
  .proyecto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    background-color: #00000027;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .proyecto img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .proyecto h5 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .proyecto p {
    font-size: 16px;
    text-align: justify;
    margin-bottom: 10px;
  }
  
  .demo-btn,
  .repositorio-btn {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .demo-btn {
    background-color: #3362fd;
    color: #fff;
    margin-right: 10px;
    border: none;
  }
  
  .repositorio-btn {
    background-color: #ffffff;
    color: #3362fd;
    border-color:#3362fd ;
    border-width: 1px;
  }
  
  .demo-btn:hover,
  .repositorio-btn:hover {
    opacity: 0.8;
  }
  

  /* Estilos del formulario de contacto */
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  form label {
    display: block;
    margin-bottom: 0.5rem;
  }
  form input,
  form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  form button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  form button:hover {
    background-color: #fff;
    color: #333;
  }
 /* Estilos del boton para descargar curriculum */
  .curriculo-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  
  .curriculo-btn a {
    display: block;
    font-size: 18px;
    padding: 15px 30px;
    background-color: #1abc9c;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .curriculo-btn a:hover {
    background-color: #148f77;
  }
  
  /* Estilos del footer */
  footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
  }
  